{% extends 'base.html.twig' %}

{% block body %}
    
    <h1>Show Orders</h1>
    
    <p>An application for processing show orders.</p>
    
    <p><a href="{{ path('order_index') }}">Begin</a></p>
    
{% endblock %}
